* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container-header {
  background-color: #2d4063;
  display: flex;
  justify-content: center;
  padding: 35px 0px;
  border-bottom: 20px solid #d9c830;
}

.container-div-header {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
